InputForm/Service References/ServiceReference1/GBCustoms_EHS_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gbhg.gov.cn/GBCustoms_EHS_WebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gbhg.gov.cn/GBCustoms_EHS_WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gbhg.gov.cn/GBCustoms_EHS_WebService">
      <s:element name="GBCustoms_ServiceEntrance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strVOYAGE_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserPWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strVisitorNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GBCustoms_ServiceEntranceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GBCustoms_ServiceEntranceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="outMessage" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GBCustoms_ServiceEntranceSoapIn">
    <wsdl:part name="parameters" element="tns:GBCustoms_ServiceEntrance" />
  </wsdl:message>
  <wsdl:message name="GBCustoms_ServiceEntranceSoapOut">
    <wsdl:part name="parameters" element="tns:GBCustoms_ServiceEntranceResponse" />
  </wsdl:message>
  <wsdl:portType name="GBCustoms_EHS_WebServiceSoap">
    <wsdl:operation name="GBCustoms_ServiceEntrance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">海关下发物流数据接口（表头数据+表体数据），并返回数据集</wsdl:documentation>
      <wsdl:input message="tns:GBCustoms_ServiceEntranceSoapIn" />
      <wsdl:output message="tns:GBCustoms_ServiceEntranceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GBCustoms_EHS_WebServiceSoap" type="tns:GBCustoms_EHS_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GBCustoms_ServiceEntrance">
      <soap:operation soapAction="http://gbhg.gov.cn/GBCustoms_EHS_WebService/GBCustoms_ServiceEntrance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GBCustoms_EHS_WebServiceSoap12" type="tns:GBCustoms_EHS_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GBCustoms_ServiceEntrance">
      <soap12:operation soapAction="http://gbhg.gov.cn/GBCustoms_EHS_WebService/GBCustoms_ServiceEntrance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GBCustoms_EHS_WebService">
    <wsdl:port name="GBCustoms_EHS_WebServiceSoap" binding="tns:GBCustoms_EHS_WebServiceSoap">
      <soap:address location="http://10.5.5.51/GBCustoms_EHS_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GBCustoms_EHS_WebServiceSoap12" binding="tns:GBCustoms_EHS_WebServiceSoap12">
      <soap12:address location="http://10.5.5.51/GBCustoms_EHS_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>